/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  margin-color: black;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */

#closeButton {
  margin: 15px 6px 6px;
}

.gwt-LabelDestaque {
	font-size: 18px ;
	font-weight: bold;
}

.gwt-LoginPanel {
	border: 10px #005522;
	background-color: #cccccc;
}

.gwt-ButtonDestaque {
	font-size: 18px
}

.gwt-AssinaturaPanel {
	border: 10px #005522;
	background-color: #cccccc;
}

h2 {
	font-size: 19px;
}

.gwt-beta {
	color: #FF0000;
	font-size: 24px;
	font-family: @Dotum;
	font-weight: bold;
}

.menu {
	aligner: center;	
}

.gwt-LabelDestaqueWhilte{
	font-size: 18px ;
	font-weight: bold;
	font-color: #ffffff;
}

.loginViaFacebookPanel {
	background-color: #0066FF; 
}

.headerPainelPerfil {
	background-color: aliceblue;
	border: 1px;
	border-style: solid;
}

.painelPerfil1 {
	background-color: aliceblue;
}

.painelPerfil2 {
	background-color: #CCCCFF;
}

.painelPerfil3 {
	background-color: #FFFFFF;
/* 	border: 1px; */
/* 	border-style: solid */
}

.feedPanel {
	background-color: honeydew;
}

.gwt-MenuBar gwt-MenuBar-horizontal1 {
	border-top: ridge;
	background-color: #cccccc;
	table-layout: auto;
}

.gwt-StateCadastroUsuarioAceitoLabel {
	color: Black;
	font-size: 18px;
	font-family: @Dotum;
	font-weight: bold;
}

.gwt-LabelEstradaSolidaria {
	color: Blue;
	font-family: @Dotum;
	font-weight: bold;
}

.gwt-LabelEstradaSolidaria2 {
	color: Navy;
	font-size: 24px;
	font-family: @Dotum;
	font-weight: bold;
}

.gwt-LabelEstradaSolidaria3 {
	color: Green;
	font-size: 18px;
	font-family: @Dotum;
	font-weight: bolder;
}

.gwt-LabelEstradaSolidaria4 {
	color: royalblue;
	font-family: Gisha;
}

.gwt-LabelEstradaSolidaria5 {
	color: red;
	font-size: 10px ;
	font-family: @Dotum;
	font-weight: bold;
}

.gwt-LabelEstradaSolidaria6 {
	color: red;
	font-size: 10px ;
	font-family: @Dotum;
}
.gwt-LabelEstradaSolidaria7 {
	color: Black;
	font-size: 14px;
	font-family: @Dotum;
	font-weight: bold;
}
.gwt-LabelEstradaSolidaria8 {
	color: slategrey;
	font-size: 12px;
	font-family: @Microsoft YaHei;
}
.gwt-LabelEstradaSolidaria9 {
	color: blue;
	font-size: 16px ;
	font-family: @Dotum;
}
.gwt-LabelEstradaSolidaria10 {
	color: green;
	font-size: 10px ;
	font-family: @Dotum;
	font-weight: bold;
}