<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>estradaSolidariaService</servlet-name>
		<servlet-class>
			estradasolidaria.ui.server.EstradaSolidariaServiceImpl
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>estradaSolidariaService</servlet-name>
		<url-pattern>/estradasolidaria/estradaSolidariaService</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>estradaSolidariaService</servlet-name>
	    <url-pattern>/estradasolidaria.ui.EstradaSolidaria/estradaSolidariaService</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>EstradaSolidaria.html</welcome-file>
	</welcome-file-list>
	
	
</web-app>


